*{
    padding: 0 ;
    margin: 0;
}

.grid-container{
    height: 100vh; 
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: purple;
    padding: 5px;
    gap: 2px;
    /* justify-content: center;  /*horizontal*/
    /* align-content: center;  vertical */ 
    justify-items: center;
    align-items:flex-start;
}
.item-grid{
    color: #fff;
    background-color: rgba(255 , 255 , 255 , 0.8);
    border: 1px solid yellow;
    width: 100px;
    height: 50px;
    text-align: center;
}
.column-element{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
    /* width: 100%;
    height: 100%; */
    background-color: red;
}